body {
  background-color: var(--off-white);
  height: 100vh;
  width: 1440px;
  padding: 86px 142px;
  font-family: "Inter", sans-serif;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.header-nav {
  display: flex;
  gap: 32px;
}

.btn-mobile-nav {
  display: flex;
  align-items: center;
  display: none;
}

.open-menu-icon {
}

.close-menu-icon {
  display: none;
}

.nav-links {
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.3fr 0.3fr;
  grid-column-gap: 32px;
}

.main-image {
  grid-column: 1/3;
  width: 100%;
  margin-bottom: 32px;
}

.question-title {
  grid-column: 1/2;
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: 48px;
  line-height: 1;
  width: 320px;
}

.question-details {
  grid-column: 2/3;
}

.question-text {
  color: var(--dark-grayish-blue);
  font-size: 15px;
  margin-bottom: 38px;
}

.read-more {
  text-decoration: none;
  background-color: var(--soft-red);
  font-size: 12px;
  letter-spacing: 3px;
  color: white;
  font-weight: 700;
  padding: 14px 32px;
}

.news-aside {
  background-color: var(--very-dark-blue);
  grid-row: 1/3;
  grid-column: 3/4;
  padding: 24px 20px;
}

.aside-title {
  color: var(--soft-orange);
  font-size: 42px;
  font-weight: 700;
}

.aside-content {
  display: grid;
  height: 389px;
  align-items: center;
  grid-template-rows: 1fr 1px 1fr 1fr;
}

.line {
  display: block;
  height: 1px;
  background-color: white;
}

.news {
  height: 124px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.news-title {
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.news-subtitle {
  color: white;
  font-weight: 400;
}

.page-footer {
  margin-top: 68px;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.footer-card {
  display: flex;
  gap: 20px;
}

.card-number {
  font-size: 26px;
  font-weight: 700;
  color: rgba(118, 118, 124, 0.459);
  margin-bottom: 10px;
}

.card-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 15px;
  color: rgb(118, 118, 124);
}

.page-footer img {
  width: 100px;
}
